.navigation-item {
  float: left;
  border-right: 1px solid var(--lines);
  color: var(--secondary-1);
  cursor: pointer;
}

.navigation-item-content {
  padding: 10px 10px;
  text-align: center;
}

.navigation-item:hover {
  color: white;
}

.navigation-item:hover>.active-tab-indicator {
  animation-name: activeTabAnimation;
  animation-duration: 0.25s;
  width: 100%;
}

@keyframes activeTabAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.navigation-item-text {
  padding: 8px 8px;
  display: inline;
}

.navigation-item-icon {
  opacity: 0.4;
  padding: 10px;
  display: inline;
}

.active-tab-indicator {
  width: 0%;
  height: 3px;
  background-color: var(--accent-1);
  animation-timing-function: ease-out;
}