.navigation-item {
  float: left;
  min-width: 3vw;
  box-shadow: inset -1px 0 0 0 #1e2d3d;
  color: #607b96;
  cursor: pointer;
}

.navigation-item:hover {
  color: #ffffff;
}

.navigation-item-text {
  line-height: normal;
  margin: 2vh 3vw;
  width: fit-content;
  text-align: center;
}

.active-tab-indicator {
  width: 100%;
  height: 3px;
}
