html {}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Code";
  color: #FFF;
  --primary-1: #01080E;
  --primary-2: #011627;
  --primary-3: #011221;
  --secondary-1: #607B96;
  --secondary-2: #3C9D93;
  --secondary-3: #4D5BCE;
  --secondary-4: #FFFFFF;
  --accent-1: #FEA55F;
  --accent-2: #43D9AD;
  --accent-3: #E99287;
  --accent-4: #C98BDF;
  --lines: #1E2D3D;
  --gradient-1: #4D5BCE;
  --gradient-2: #43D9AD;
  overflow-x: hidden;
  background-color: #011627;
}

h1 {
  font-size: 62px;
  font-weight: 400;
  margin: 0px;
}

h2 {
  font-size: 32px;
  font-weight: 450;
  margin: 0px;
}

h3 {
  font-size: 18px;
  font-weight: 450;
  margin: 0px;
}

h4 {
  font-size: 16px;
  font-weight: 450;
  margin: 8px;
}

main {
  width: 100vw;
  height: 100vh;
}

#root {}

-webkit-scrollbar {
  width: 2em;
  height: 1em;
}

-webkit-scrollbar-track {
  background: hsl(120 75% 50% / 1);
  border-radius: 0px;
  margin-block: 0.5em;
}

-webkit-scrollbar-thumb {
  background: hsl(120 100% 20% / 1);
  border: 3px solid;
  border-radius: 0px;
  width: 18.5px;
  height: 7px;
}

-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}